@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
} 

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
} 

@font-face {
    font-family: "Heavitas";
    src: url(./fonts/Heavitas.ttf);
}

@font-face {
    font-family: "Proxima Nova";
    src: url(./fonts/Proxima\ Nova\ Font.otf);
}

@font-face {
    font-family: "Pockota";
    src: url(./fonts/Pockota\ Regular.ttf);
}

/*-------------------- PAGE SETUP --------------------*/

html {
    background-color: #283C4F;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0 auto;
}

#nav, #header, #page-content {
    -webkit-animation: fadein .5s; 
    -moz-animation: fadein .5s;
    -ms-animation: fadein .5s; 
    -o-animation: fadein .5s; 
    animation: fadein .5s;
}

#preloader {
    width: 100%;
    height: 100%;
    border: none;
    position: fixed;
    z-index: 6;
    transition-duration: 1s;
    transition-property: opacity;
    transition-timing-function: linear;
}
#report-bug {
    width: 100%;
    height: 100%;
    border: none;
    position: fixed;
    z-index: 6;
    transition: opacity 2s ease-in-out,
}

.toggle-preloader{
    display: none;
}

/*---------------NAVIGATION (ALL PAGES)---------------*/
#nav {
    width: 100%;
    position: fixed;
    z-index: 5;
}

#nav-divider {
    width: 100%;
    height: 10px;
    background-color: #FCC069;
    border-bottom: solid #F29544 10px;
    margin-bottom: 0px;
}

#icon {
    position: absolute;
    width: auto;
    height: 100%;
    left: 25%;
    z-index: 6;
    cursor: pointer;
}

#nav ul {
    height: 4%; 
    width: 100%;
    list-style-type: none;
    position: relative;
    text-align: center;
    padding-inline-start: 0;
    margin: 0;
    background-image: url(./images/TexturedVignette.webp);
    background-size: cover;
    background-color: #283C4F;
}

#nav ul li{
    display: inline-block;
    position: relative;
    color: #F2E5D8;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20.5px;
}

#nav ul li a{
    transition-property: color;
    transition-duration: .25s;
    color: #F2E5D8;
    cursor: pointer;
    text-decoration: none;
    z-index: 6;
}

#nav ul li a:hover{
    transition-duration: .25s;
    color: #728FA8;
    cursor: pointer;
}

#nav ul li a:active{
    color: #728FA8;
}

/*---------------HEADER (ALL PAGES)---------------*/
#header {
    width: 100%;
    height: 500px; 
    background-color: #F2E5D8;
    text-align: center;
    background-image: url(./base-images/Desert-Banner.webp);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    padding-top: 120px;
    z-index: 2;
    -webkit-animation: fadein 3s; 
    -moz-animation: fadein 3s;
     -ms-animation: fadein 3s; 
     -o-animation: fadein 3s; 
     animation: fadein 3s;
}

#logo {
    height: 450px;
    position: relative;
    padding-top: 0;
}

/*---------------PAGE CONTENT (ALL PAGES)---------------*/

#page-content {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #F2E5D8;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    -webkit-animation: fadein 3s; 
    -moz-animation: fadein 3s;
     -ms-animation: fadein 3s; 
     -o-animation: fadein 3s; 
     animation: fadein 3s;
}

.page-head {
    width: 800px;
    margin: 0 auto;
}

.header-text {
    width: 75%;
    display: inline-block;
    position: relative;
    margin: 10px;
    margin-left: 2.5%;
}

.header-text h1{
    margin: 0;
    font-size: 61.45px;
    color:#283C4F;
    font-family: Heavitas;
    font-weight: normal;
    padding: 0;
    
}

.header-text h2{
    margin: 0;
    margin-block-start: 0;
    padding: 0;
    font-size: 102.5px;
    color:#365673;
    font-family: Heavitas;
    line-height: 92px;
    margin-top: -10px;
}

.header-image {
    display: inline-block;
    position: absolute;
    top: 10px;
    width: 137px;
    margin-right: 0;
    z-index: 1;
}

.header-image img {
    width: 100%;
}

.section-divider{
    display: block;
    margin: 0;
    width: 100%;
    background-color: #283C4F;
    text-align: center;
    z-index: 2;
}

.section-div-text{
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25.5px;
    padding: 15px;
    padding-bottom: 10px;
    margin: 0;
    font-weight:bolder;
    letter-spacing: 5px;
    
}

#page-content section h1 {
    margin: 0;
    font-size: 61.45px;
    color:#F2E5D8;
    font-family: Heavitas;
    margin-bottom: 8px;
    font-weight: normal;
    
}

#page-content section h2 {
    margin: 0;
    font-size: 36px;
    color:rgba(255, 255, 255, 0.4);
    font-family: Heavitas;
    padding: 0;
    line-height: 41px;
    margin-bottom: 10px;
    font-weight: normal;
    display:block;
}
/*--------------- BUTTONS ---------------*/

.view-page {
    margin: 0;
    font-size: 20.5px;
    color:white;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 1.5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 65px;
    padding-right: 65px;
    cursor: pointer;
    border: none;
    display: inline-block;
    margin-top: -20px;
    margin-bottom: -20px;
}

.view-page.blue {
    background-color: rgba(40, 60, 79, 0.6);
}

.view-page.blue:hover {
    background-color: rgba(40, 60, 79, 1.0);
}

.view-page.green {
    background-color: rgba(32, 84, 79, 0.6);
}

.view-page.green:hover {
    background-color: rgba(32, 84, 79, 1.0);
}

.view-page.orange {
    background-color: rgba(164, 92, 65, 0.6);
}
.view-page.orange:hover {
    background-color: rgba(164, 92, 65, 1.0);
}

.view-page.footer {
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #D97B59;
}

.view-page.footer:hover {
    background-color:#A65D42;
}

div.blue {
    background-image: url(./base-images/TexturedVignette.webp);
    background-color: #365673;
}

div.green {
    background-image: url(./base-images/TexturedVignette.webp);
    background-color: #2C736C;
}

div.orange {
    background-image: url(./base-images/TexturedVignette-orange.webp);
    background-color: #D97B59;
}

/*---------------HOME PAGE CONTENT---------------*/

#select-page-home {
    width: 100%;
    position: relative;
    background-color: red;
    text-align: center;
}

#select-page-home div{
    display: inline-block;
    background-size: cover;
    background-position: center;
    z-index: 1;
    width: 50%;
    padding-top: 40px;
    padding-bottom: 60px;
    margin: -2px;
    margin-top: 0;
}

#select-page-home div h1{
    margin: 0;
    font-size: 61.45px;
    color:#F2E5D8;
    font-family: Heavitas;
    padding: 0;
    line-height: 61.45px;
    font-weight: normal;
}

#select-page-home div h1:last-of-type{
    margin-bottom: 25px;
}

/*---------------ABOUT PAGE CONTENT---------------*/

#about-header-text {
    width: 75%;
    display: inline-block;
    position: relative;
    margin: 10px;
    margin-left: 2.5%;
}

.about {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}

/*---------------ABOUT ME - INTRO---------------*/

#elena-m {
    background-image: url(./base-images/TexturedVignette-blue.webp);
    background-size: cover;
    background-position: center;
    background-color: #365673;
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 20px;
}

#left{
    width: 55%;
    padding-left: 50px;
    margin: 0;
    display: inline-block
}

#elena-m h1 {
    display: inline-block;
    line-height: 55px;
}

#left p {
    font-size: 17.5px;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    line-height: 23.5px;
    color: white;
}

#social img {
    display: inline-block;
    width: 8%;
    margin-left: 1%;
}

#right {
    width: 34%;
    display: inline-block;
    padding-left: 0;
}

#right img {
    width: 100%;
    display: inline-block;
    border-radius: 100%;
}

/*---------------ABOUT ME - WHAT I DO---------------*/

#what-i-do {
    background-size: cover;
    background-position: center;
    margin-top: 0%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(./base-images/TexturedVignette-blue.webp);
    background-color: #2C736C;
}

#what-i-do h1 {
    padding-left: 50px;
    line-height: 55px;
}

#what-i-do h3 {
    margin: 0;
    font-size: 23.5px;
    color:white;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    line-height: 25.5px;
    margin-bottom: 15px;
    font-weight: bolder;
    display:block;
    text-align: center;
    padding-top: 5px;
}

#what-i-do-categories{
    width: 100%;
    display: inline-block;
    height: 15%;
}

#what-i-do-categories div{
    width: 20%;
    background-color:#20544F;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    margin-left: 30px;
}

#what-i-do-categories:first-of-type{
    margin-left: 20px;
}

#what-i-do-categories ul {
    color:#F2E5D8;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    font-size: 17.5px;
    line-height: 25.5px;
    margin-top: 8px;
    padding-right: 10px;
}

#page-content section h5 {
    font-size: 36px;
    color:rgba(255, 255, 255, 0.4);
    font-family: Heavitas;
    padding: 0;
    line-height: 41px;
    margin-bottom: 15px;
    font-weight: normal;
    display:block;
    margin-left: 28px;
    margin-block-start: 0;
    margin-top: 11px;
}



/*---------------ABOUT ME - WHERE I LEARNED---------------*/

#where-i-learned {
    background-size: cover;
    background-position: center;
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(./base-images/TexturedVignette-orange.webp);
    background-color:#D97B59;
}

#where-i-learned h1 {
    padding-left: 55px;
    line-height: 55px;
}

.column {
    display:inline-block;
    width: 40%;
    padding: 0;
    margin: 0;
    padding-left: 50px;
}

.column div {
    padding: 20px;
    background-color:#A65D42;
}

.column div h3 {
    margin: 0;
    font-size: 23.5px;
    color:white;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    line-height: 25.5px;
    margin-bottom: 5px;
    font-weight: bolder;
    display:block;
    text-align: left;
    letter-spacing: 1.5px;
}
.column div h4 {
    margin: 0;
    font-size: 23.5px;
    color:white;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    line-height: 25.5px;
    margin-bottom: 15px;
    font-weight: normal;
    display:block;
    text-align: left;
}

.column div p {
    margin: 0;
    font-size: 20.5px;
    color:#F2E5D8;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    line-height: 23.5px;
    margin-bottom: 0px;
    font-weight: normal;
    display:block;
    text-align: left;
}

.column div div {
    width: 111.5%;
    height: 10px;
    padding: 0px;
    background-color: #D97B59;
    margin-left: -5.5%;
    margin-top: 20px;
    margin-bottom: 15px;
    border: none;
}

/*---------------ABOUT ME - PAGE FOOTER---------------*/

#about-me-foot {
    padding-top: 40px;
    text-align: center;
}

#about-me-foot p {
    margin: 0;
    font-size: 20.5px;
    color:#283C4F;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    line-height: 23.5px;
    margin-bottom: 0px;
    font-weight: bold;
    display:block;
}
#about-me-foot button{
    font-size: 25.5px;
    color:white;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: 1.5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 65px;
    padding-right: 65px;
    cursor: pointer;
}

#about-me-foot button {
    border: none;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #2C736C;
}

#about-me-foot button:hover{
    background-color: #20544F;
}

/*---------------PORTFOLIO PAGE---------------*/

#select-page-port {
    width: 100%;
    position: relative;
    background-color: red;
    text-align: center;
}

#select-page-port div h1{
    margin: 0;
    font-size: 61.45px;
    color:#F2E5D8;
    font-family: Heavitas;
    padding: 0;
    line-height: 61.45px;
    font-weight: normal;
}

#select-page-port div h1:last-of-type{
    margin-bottom: 30px;
}

#select-page-port div{
    display: inline-block;
    background-size: cover;
    background-position: center;
    z-index: 1;
    padding-top: 45px;
    padding-bottom: 60px;
    margin-left: -4px;
    margin-top: 0;
    width: 50%;
}

#select-page-port div:first-child{
    margin-left: 0;
}

/*---------------SITE FOOTER (ALL PAGES)---------------*/

#footer {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    
    background-color: #283C4F;
    text-align: center;
    display: inline-block;
}

#footer p {
    color: #F2E5D8;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}

#footer a {
    color: #F2E5D8;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    margin-left: 0;
}

/*--- Desktop: 1920 x 1080 ---*/
@media screen and (max-width: 1920.5px) and (min-width: 1536.5px) {
    /*-- ABOUT ME --*/
    #left {
        width: 58%;
        display: inline-block;
        padding-left: 3%;
    }

    #right{
        width: 36%;
        display: inline-block;
    }

    #what-i-do-categories:first-of-type {
        margin-left: 0px;
    }

    #what-i-do-categories div{
        width: 18%;
        background-color:#20544F;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
    }

    #page-content section h5 {
        font-size: 36px;
        color:rgba(255, 255, 255, 0.4);
        font-family: Heavitas;
        padding: 0;
        line-height: 41px;
        margin-bottom: 15px;
        font-weight: normal;
        display:block;
        margin-left: 15px;
        margin-block-start: 0;
        margin-top: 11px;
    }
}

/*--- Desktop: 1536 x 864 ---*/
@media screen and (max-width: 1536.5px) and (min-width: 1440.5px) {
    /*-- ABOUT PAGE --*/
    .about {
        width: 65%;
        padding-left: 17.5%;
        padding-right: 17.5%;
    }

    #left {
        width: 58%;
        display: inline-block;
        padding-left: 3%;
    }

    #right{
        width: 32%;
        display: inline-block;
    }

    #what-i-do-categories:first-of-type {
        margin-left: 0px;
    }

    #what-i-do-categories div{
        width: 18%;
        background-color:#20544F;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
    }

    #page-content section h5 {
        font-size: 36px;
        color:rgba(255, 255, 255, 0.4);
        font-family: Heavitas;
        padding: 0;
        line-height: 41px;
        margin-bottom: 15px;
        font-weight: normal;
        display:block;
        margin-left: 15px;
        margin-block-start: 0;
        margin-top: 11px;
    }
}

/*--- Desktop: 1440 x 900 ---*/
@media screen and (max-width: 1440.5px) and (min-width: 1366.5px){
    /*-- NAV & HOME --*/
    #icons {
        left: 20%;
    }
    /*-- ABOUT PAGE --*/
    .about {
        width: 65%;
        padding-left: 17.5%;
        padding-right: 17.5%;
    }
    #left {
        width: 62%;
        display: inline-block;
        padding-left: 3%;
    }
    #right{
        width: 32%;
        display: inline-block;
    }
    #what-i-do-categories:first-of-type {
        margin-left: 0px;
    }
    #what-i-do-categories div{
        width: 19%;
        background-color:#20544F;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 19px;
    }
    #page-content section h5 {
        font-size: 36px;
        color:rgba(255, 255, 255, 0.4);
        font-family: Heavitas;
        padding: 0;
        line-height: 41px;
        margin-bottom: 15px;
        font-weight: normal;
        display:block;
        margin-left: 15px;
        margin-block-start: 0;
        margin-top: 11px;
    }
    .column div {
        padding: 20px;
        background-color: #A65D42;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .column div div {
        width: 111.5%;
        height: 10px;
        padding: 0px;
        background-color: #D97B59;
        margin-left: -5.7%;
        margin-top: 25px;
        margin-bottom: 25px;
        border: none;
    }
}

/*--- Desktop: 1366 x 768 ---*/
@media screen and (max-width: 1366.5px) and (min-width: 1280.5px){
    /*-- NAV & HOME --*/
    #icon {
        left: 15%;
    }
    /*-- ABOUT PAGE --*/
    .about {
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
    }
    #left {
        width: 62%;
        display: inline-block;
        padding-left: 3%;
    }
    #right{
        width: 33.5%;
        display: inline-block;
        margin-left: -15px;
    }
    #what-i-do-categories:first-of-type {
        margin-left: 0px;
    }
    #what-i-do-categories div{
        width: 19%;
        background-color:#20544F;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 19px;
    }
    #page-content section h5 {
        font-size: 36px;
        color:rgba(255, 255, 255, 0.4);
        font-family: Heavitas;
        padding: 0;
        line-height: 41px;
        margin-bottom: 15px;
        font-weight: normal;
        display:block;
        margin-left: 15px;
        margin-block-start: 0;
        margin-top: 11px;
    }
    .column div {
        padding: 20px;
        background-color: #A65D42;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .column div div {
        width: 111.5%;
        height: 10px;
        padding: 0px;
        background-color: #D97B59;
        margin-left: -5.7%;
        margin-top: 25px;
        margin-bottom: 25px;
        border: none;
    }
}

/*--- Tablet: 1280 x 800 ---*/
@media screen and (max-width: 1280.5px) and (min-width: 1024.5px) {
    
}

/*--- Tablet: 1024 x 768 ---*/
@media screen and (max-width: 1024.5px) and (min-width: 768.5px) {
    
}

/*--- Mobile: 350 x 640 ---*/
@media screen and (max-width: 1024.5px) and (min-width: 768.5px) {
    
}