/*--- Base Desktop Resolution (2048 x 1034) ---*/
:root {
    --full-width: 100%;
    /*--- NAV ---*/
    --nav-accents:10px;
    --nav-accents-margin-bottom:1px;
    --nav-icon-width: auto;
    --nav-icon-left: 25%;
    --nav-ul-height: 4%;
    --nav-li-padding-top-bottom: 15px;
    --nav-li-padding-sides: 100px;
    --nav-li-font-size: 20.5px;

    /*--- HEADER ---*/
    --header-height: 500px;
    --header-padding-top: 120px;
    --header-logo-height: 450px;
    --header-logo-padding-top: 0;

    /*--- PAGE HEADS ---*/
    --page-head-width: 800px;
    --page-head-text-width: 75%;
    --page-head-text-margin: 10px;
    --page-head-text-margin-left: 2.5%;
    --page-head-text-h1-size: 61.45px;
    --page-head-text-h2-size: 102.5px;
    --page-head-text-h2-line-height: 92px;
    --page-head-text-h2-margin-top: -10px;
    --page-head-cactus-top: 10px;
    --page-head-cactus-width: 137px;
    --page-head-cactus-margin-right: 0;

    /*--- SECTION DIVIDER/INSTRUCTIONS ---*/
    --divider-text-size: 25.5px;
    --divider-text-padding: 15px;
    --divider-text-padding-bottom: 10px;
    --divider-text-spacing: 5px;

    /*--- PAGE CONTENT ---*/
    --page-h1-size: 61.45px;
    --page-h1-margin-bottom: 8px;
    --page-h2-size: 36px;
    --page-h2-line-height: 41px;
    --page-h2-margin-bottom: 10px;
    --page-safearea-padding: 25%;
    --section-width: 50%;

    --section-divider-width: 100%;

    --page-select-button-text-size: 20.5px;
    --page-select-button-text-spacing:1.5px;
    --page-select-button-padding-top-bottom: 15px;
    --page-select-button-padding-sides: 65px;
    --page-select-button-margin-top-bottom: -20px;

    /*--- HOME PAGE CONTENT ---*/
    --home-div-width: 50%;
    --page-1st-div-padding-top: 40px;
    --page-1st-div-padding-bottom: 60px;
    --home-div-margin: -2px;
    --page-1st-div-margin-top: 0;
    --home-page-select-h1-size: 61.45px;
    --home-page-select-h1-margin-bottom: 25px;

    /*--- ABOUT ME CONTENT ---*/
    --about-padding-bottom: 20px;
    --about-left-width: 55%;
    --about-left-padding-left:50px;
    --about-left-p-size: 17.5px;
    --about-left-p-line-height: 23.5px;
    --about-social-img-width: 8%;
    --about-social-img-margin-left: 1%;
    --about-right-width: 35%;
    --about-right-padding-left: 0px;
    --about-right-img-border-radius: 100%;
    --about-section-padding: 40px;
    --about-section-h1-padding-left: 50px;

    --about-section2-h3-size: 23.5px;
    --about-section2-h3-line-height: 25.5px;
    --about-section2-h3-margin-bottom: 15px;
    --about-section2-h3-padding-top: 5px;
    --about-section2-categories-height: 15%;
    --about-section2-categories-width: 20%;
    --about-section2-categories-padding-top: 15px;
    --about-section2-categories-margin-left: 30px;
    --about-section2-1st-category-margin-left: 20px;
    --about-section2-ul-size: 17.5px;
    --about-section2-ul-line-height: 25.5px;
    --about-section2-ul-margin-top: 8px;

    --about-section3-h1-padding-left: 55px;
    --about-section3-column-width: 40%;
    --about-section3-column-padding: 20px;
    --about-section3-h3-h4-size: 23.5px;
    --about-section3-h3-h4-line-height: 25.5px;
    --about-section3-h3-margin-bottom: 5px;
    --about-section3-h3-spacing: 1.5px;
    --about-section3-h4-margin-bottom: 15px;
    --about-p-size: 20.5px;
    --about-p-line-height: 23.5px;
    --about-section3-dividers-width: 111.5%;
    --about-section3-dividers-height: 10px;
    --about-section3-dividers-margin-left: -5.5%;
    --about-section3-dividers-margin-top: 20px;
    --about-section3-dividers-margin-bottom: 15px;

    --about-foot-padding-top: 40px;
    --about-foot-button-margin-top: 20px;
    --about-foot-button-margin-bottom: 40px;

    /*--- PORTFOLIO SELECT PAGE ---*/
    --select-portfolio-width: 50%;
    --select-portfolio-padding-top: 45px;
    --select-portfolio-padding-bottom: 60px;
    --select-portfolio-margin: -4px;
    --select-portfolio-1st-margin-left: 0px;
    --select-portfolio-margin-top: 0;
    --select-portfolio-h1-size: 61.45px;
    --select-portfolio-h1-margin-bottom: 30px;

    /*--- FOOTER ---*/
    --footer-padding: 20px;
    --footer-left: 40px;
}


@font-face {
    font-family: Heavitas;
    src: url(./fonts/Heavitas.ttf);
}

@font-face {
    font-family: "Proxima Nova";
    src: url(./fonts/Proxima\ Nova\ Font.otf);
}



/*---------------BASE CSS START (vw = 2048px)---------------*/

html {
    background-color: #365673;
    width: var(--full-width);
    height: 100%;
    overflow-x: hidden;
}
body {
    margin: 0 auto;
}

#preloader {
    width: 100%;
    height: 100%;
    border: none;
    position: fixed;
    z-index: 6;
    transition-duration: .5s;
    transition-property: opacity;
    transition-timing-function: linear;
}

.toggle-preloader{
    display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
} 

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
} 



/*---------------NAVIGATION (ALL PAGES)---------------*/
#nav {
    width: var(--full-width);
    position: fixed;
    z-index: 5;
}
#nav-divider {
    width: var(--full-width);
    height: var(--nav-accents);
    background-color: #FCC069;
    border-bottom: solid #F29544 10px;
    margin-bottom: var(--nav-accents-margin-bottom);
}

#icon {
    position: absolute;
    width: var(--nav-icon-width);
    height: 100%;
    left: var(--nav-icon-left);
    z-index: 2;
    cursor: pointer;
}

#nav ul {
    height: var(--nav-ul-height); 
    width: var(--full-width);
    list-style-type: none;
    position: relative;
    text-align: center;
    padding-inline-start: 0;
    margin: 0;
    background-image: url(./images/TexturedVignette.png);
    background-size: cover;
    background-color: #283C4F;
}

#nav ul li{
    display: inline-block;
    position: relative;
    color: #F2E5D8;
    margin: 0;
    padding-top: var(--nav-li-padding-top-bottom);
    padding-bottom: var(--nav-li-padding-top-bottom);
    margin-left: var(--nav-li-padding-sides);
    margin-right: var(--nav-li-padding-sides);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--nav-li-font-size);
}

#nav ul li a{
    transition-property: color;
    transition-duration: .25s;
    color: #F2E5D8;
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
}

#nav ul li a:hover{
    transition-duration: .25s;
    color: #728FA8;
    cursor: pointer;
}

#nav ul li a:active{
    color: #728FA8;
}

/*---------------HEADER (ALL PAGES)---------------*/
#header {
    width: var(--full-width);
    height: var(--header-height); 
    background-color: #F2E5D8;
    text-align: center;
    background-image: url(./base-images/Desert-Banner.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    padding-top: var(--header-padding-top);
    z-index: 2;
    -webkit-animation: fadein 3s; 
    -moz-animation: fadein 3s;
     -ms-animation: fadein 3s; 
     -o-animation: fadein 3s; 
     animation: fadein 3s;
}

#logo {
    height: var(--header-logo-height);
    position: relative;
    padding-top: var(--header-logo-padding-top);
}

/*---------------PAGE CONTENT (ALL PAGES)---------------*/

#page-content {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #F2E5D8;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    -webkit-animation: fadein 3s; 
    -moz-animation: fadein 3s;
     -ms-animation: fadein 3s; 
     -o-animation: fadein 3s; 
     animation: fadein 3s;
}

.page-head {
    width: var(--page-head-width);
    margin: 0 auto;
}

.header-text {
    width: var(--page-head-text-width);
    display: inline-block;
    position: relative;
    margin: var(--page-head-text-margin);
    margin-left: var(--page-head-text-margin-left);
}

.header-text h1{
    margin: 0;
    font-size: var(--page-head-text-h1-size);
    color:#283C4F;
    font-family: Heavitas;
    font-weight: normal;
    padding: 0;
    
}

.header-text h2{
    margin: 0;
    margin-block-start: 0;
    padding: 0;
    font-size: var(--page-head-text-h2-size);
    color:#365673;
    font-family: Heavitas;
    line-height: var(--page-head-text-h2-line-height);
    margin-top: var(--page-head-text-h2-margin-top);
}

.header-image {
    display: inline-block;
    position: absolute;
    top: var(--page-head-cactus-top);
    width: var(--page-head-cactus-width);
    margin-right: var(--page-head-cactus-margin-right);
    z-index: 1;
}

.header-image img {
    width: 100%;
}

.section-divider{
    display: block;
    margin: 0;
    width: var(--section-divider-width);
    background-color: #283C4F;
    text-align: center;
    z-index: 2;
}

.section-div-text{
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    color: white;
    font-size: var(--divider-text-size);
    padding: var(--divider-text-padding);
    padding-bottom: var(--divider-text-padding-bottom);
    margin: 0;
    font-weight:bolder;
    letter-spacing: var(--divider-text-spacing);
    
}

#page-content section h1 {
    margin: 0;
    font-size: var(--page-h1-size);
    color:#F2E5D8;
    font-family: Heavitas;
    line-height: var(--page-h1-size);
    margin-bottom: var(--page-h1-margin-bottom);
    font-weight: normal;
    
}

#page-content section h2 {
    margin: 0;
    font-size: var(--page-h2-size);
    color:rgba(255, 255, 255, 0.4);
    font-family: Heavitas;
    padding: 0;
    line-height: var(--page-h2-line-height);
    margin-bottom: var(--page-h2-margin-bottom);
    font-weight: normal;
    display:block;
}
/*--------------- BUTTONS ---------------*/

.view-page {
    margin: 0;
    font-size: var(--page-select-button-text-size);
    color:white;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: var(--page-select-button-text-spacing);
    padding-top: var(--page-select-button-padding-top-bottom);
    padding-bottom: var(--page-select-button-padding-top-bottom);
    padding-left: var(--page-select-button-padding-sides);
    padding-right: var(--page-select-button-padding-sides);
    cursor: pointer;
    border: none;
    display: inline-block;
    margin-top: var(--page-select-button-margin-top-bottom);
    margin-bottom: var(--page-select-button-margin-top-bottom);
}

.view-page.blue {
    background-color: rgba(40, 60, 79, 0.6);
}

.view-page.blue:hover {
    background-color: rgba(40, 60, 79, 1.0);
}

.view-page.green {
    background-color: rgba(32, 84, 79, 0.6);
}

.view-page.green:hover {
    background-color: rgba(32, 84, 79, 1.0);
}

.view-page.orange {
    background-color: rgba(164, 92, 65, 0.6);
}
.view-page.orange:hover {
    background-color: rgba(164, 92, 65, 1.0);
}

.view-page.footer {
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #D97B59;
}

.view-page.footer:hover {
    background-color:#A65D42;
}

div.blue {
    background-image: url(./base-images/TexturedVignette.png);
    background-color: #365673;
}

div.green {
    background-image: url(./base-images/TexturedVignette.png);
    background-color: #2C736C;
}

div.orange {
    background-image: url(./base-images/TexturedVignette-orange.png);
    background-color: #D97B59;
}

/*---------------HOME PAGE CONTENT---------------*/

#select-page-home {
    width: 100%;
    position: relative;
    background-color: red;
    text-align: center;
}

#select-page-home div{
    display: inline-block;
    background-size: cover;
    background-position: center;
    z-index: 1;
    width: var(--home-div-width);
    padding-top: var(--page-1st-div-padding-top);
    padding-bottom: var(--page-1st-div-padding-bottom);
    margin: var(--home-div-margin);
    margin-top: var(--page-1st-div-margin-top);
}

#select-page-home div h1{
    margin: 0;
    font-size: var(--home-page-select-h1-size);
    color:#F2E5D8;
    font-family: Heavitas;
    padding: 0;
    line-height: var(--home-page-select-h1-size);
    font-weight: normal;
}

#select-page-home div h1:last-of-type{
    margin-bottom: var(--home-page-select-h1-margin-bottom);
}

/*---------------ABOUT PAGE CONTENT---------------*/

#about-header-text {
    width: var(--page-head-text-width);
    display: inline-block;
    position: relative;
    margin: var(--page-head-text-margin);
    margin-left: var(--page-head-text-margin-left);
}

/*---------------ABOUT ME - INTRO---------------*/

#elena-m {
    width: var(--section-width);
    padding-left: var(--page-safearea-padding);
    padding-right: var(--page-safearea-padding);
    background-image: url(./base-images/TexturedVignette-blue.png);
    background-size: cover;
    background-position: center;
    background-color: #365673;
    margin-top: var(--page-1st-div-margin-top);
    padding-top: var(--page-1st-div-padding-top);
    padding-bottom: var(--about-padding-bottom);
}

#left{
    width: var(--about-left-width);
    padding-left: var(--about-left-padding-left);
    margin: 0;
    display: inline-block
}

#elena-m h1 {
    display: inline-block;
}

#left p {
    font-size: var(--about-left-p-size);
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    line-height: var(--about-left-p-line-height);
    color: white;
}

#social img {
    display: inline-block;
    width:var(--about-social-img-width);
    margin-left: var(--about-social-img-margin-left);
}

#right {
    width: var(--about-right-width);
    display: inline-block;
    padding-left: var(--about-right-padding-left);
}

#right img {
    width: 100%;
    display: inline-block;
    border-radius: var(--about-right-img-border-radius);
}

/*---------------ABOUT ME - WHAT I DO---------------*/

#what-i-do {
    width: var(--section-width);
    padding-left: var(--page-safearea-padding);
    padding-right: var(--page-safearea-padding);
    background-size: cover;
    background-position: center;
    margin-top: 0%;
    padding-top: var(--about-section-padding);
    padding-bottom: var(--about-section-padding);
    background-image: url(./base-images/TexturedVignette-blue.png);
    background-color: #2C736C;
}

#what-i-do h1 {
    padding-left: var(--about-section-h1-padding-left);
}

#what-i-do h3 {
    margin: 0;
    font-size: var(--about-section2-h3-size);
    color:white;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    line-height: var(--about-section2-h3-line-height);
    margin-bottom: var(--about-section2-h3-margin-bottom);
    font-weight: bolder;
    display:block;
    text-align: center;
    padding-top: var(--about-section2-h3-padding-top);
}

#what-i-do-categories{
    width: 100%;
    display: inline-block;
    height: var(--about-section2-categories-height);
}

#what-i-do-categories div{
    width: var(--about-section2-categories-width);
    background-color:#20544F;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: var(--about-section2-categories-padding-top);
    margin-left: var(--about-section2-categories-margin-left);
}

#what-i-do-categories:first-of-type{
    margin-left: var(--about-section2-1st-category-margin-left);
}

#what-i-do-categories ul {
    color:#F2E5D8;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    font-size: var(--about-section2-ul-size);
    line-height: var(--about-section2-ul-line-height);
    margin-top: var(--about-section2-ul-margin-top);
}

/*---------------ABOUT ME - WHERE I LEARNED---------------*/

#where-i-learned {
    width: var(--section-width);
    padding-left: var(--page-safearea-padding);
    padding-right: var(--page-safearea-padding);
    background-size: cover;
    background-position: center;
    margin-top: 0;
    padding-top: var(--about-section-padding);
    padding-bottom: var(--about-section-padding);
    background-image: url(./base-images/TexturedVignette-orange.png);
    background-color:#D97B59;
}

#where-i-learned h1 {
    padding-left: var(--about-section3-h1-padding-left);
}

.column {
    display:inline-block;
    width: var(--about-section3-column-width);
    padding: 0;
    margin: 0;
    padding-left: var(--about-section-h1-padding-left);
}

.column div {
    padding: var(--about-section3-column-padding);
    background-color:#A65D42;
}

.column div h3 {
    margin: 0;
    font-size: var(--about-section3-h3-h4-size);
    color:white;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    line-height: var(--about-section3-h3-h4-line-height);
    margin-bottom: var(--about-section3-h3-margin-bottom);
    font-weight: bolder;
    display:block;
    text-align: left;
    letter-spacing: var(--about-section3-h3-spacing);
}
.column div h4 {
    margin: 0;
    font-size: var(--about-section3-h3-h4-size);
    color:white;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    line-height: var(--about-section3-h3-h4-line-height);
    margin-bottom: var(--about-section3-h4-margin-bottom);
    font-weight: normal;
    display:block;
    text-align: left;
}

.column div p {
    margin: 0;
    font-size: var( --about-p-size);
    color:#F2E5D8;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    line-height: var(--about-p-line-height);
    margin-bottom: 0px;
    font-weight: normal;
    display:block;
    text-align: left;
}

.column div div {
    width: var(--about-section3-dividers-width);
    height: var(--about-section3-dividers-height);
    padding: 0px;
    background-color: #D97B59;
    margin-left: var(--about-section3-dividers-margin-left);
    margin-top: var(--about-section3-dividers-margin-top);
    margin-bottom: var(--about-section3-dividers-margin-bottom);
    border: none;
}

/*---------------ABOUT ME - PAGE FOOTER---------------*/

#about-me-foot {
    width: var(--section-width);
    padding-top: var(--about-foot-padding-top);
    padding-left: var(--page-safearea-padding);
    padding-right: var(--page-safearea-padding);
    text-align: center;
}

#about-me-foot p {
    margin: 0;
    font-size: var(--about-p-size);
    color:#283C4F;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    line-height: var(--about-p-line-height);
    margin-bottom: 0px;
    font-weight: bold;
    display:block;
}
#about-me-foot button{
    font-size: var(--page-select-button-text-size);
    color:white;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: var(--page-select-button-text-spacing);
    padding-top: var(--page-select-button-padding-top-bottom);
    padding-bottom: var(--page-select-button-padding-top-bottom);
    padding-left: var(--page-select-button-padding-sides);
    padding-right: var(--page-select-button-padding-sides);
    cursor: pointer;
}

#about-me-foot button {
    border: none;
    margin-top: var(--about-foot-button-margin-top);
    margin-bottom: var(--about-foot-button-margin-bottom);
    background-color: #2C736C;
}

#about-me-foot button:hover{
    background-color: #20544F;
}

/*---------------PORTFOLIO PAGE---------------*/

#select-page-port {
    width: 100%;
    position: relative;
    background-color: red;
    text-align: center;
}

#select-page-port div h1{
    margin: 0;
    font-size:var(--select-portfolio-h1-size);
    color:#F2E5D8;
    font-family: Heavitas;
    padding: 0;
    line-height: var(--select-portfolio-h1-size);
    font-weight: normal;
}

#select-page-port div h1:last-of-type{
    margin-bottom: var(--select-portfolio-h1-margin-bottom);
}

#select-page-port div{
    display: inline-block;
    background-size: cover;
    background-position: center;
    z-index: 1;
    padding-top: var(--select-portfolio-padding-top);
    padding-bottom: var(--select-portfolio-padding-bottom);
    margin-left: var(--select-portfolio-margin);
    margin-top: var(--select-portfolio-margin-top);
    width: var(--select-portfolio-width);
}

#select-page-port div:first-child{
    margin-left: var(--select-portfolio-1st-margin-left);;
}

/*---------------SITE FOOTER (ALL PAGES)---------------*/

#footer {
    position: relative;
    width: calc(var(--full-width) - 40px);
    height: auto;
    padding-top: var(--footer-padding);
    padding-bottom: var(--footer-padding);
    padding-left:var(--footer-left);
    text-align: left;
    background-color: #283C4F;
}

#footer p {
    color: #F2E5D8;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
}

/*--- Desktop Resolution: 1920 x 1080 ---*/
@media screen and (max-width: 1920.5px) and (min-width: 1536.5px) {
    :root {
        --nav-icon-left: 20%;

        --header-height: 530px;
        --header-logo-height: 480px;
        --header-padding-top: 120px;

        --section-width: 60%;
        --page-safearea-padding: 20%;

        --about-right-width: 30%;
        --about-left-width: 55%;
        --about-section3-dividers-width: 110%;
        --about-section3-dividers-margin-left: -5%
    }
}

/*--- Desktop Resolution: 1536 x 864 ---*/
@media screen and (max-width: 1536.5px) and (min-width: 1440.5px) {
    :root {
        --nav-icon-left: 20%;

        --header-height: 530px;
        --header-logo-height: 480px;
        --header-padding-top: 120px;

        --section-width: 70%;
        --page-safearea-padding: 15%;

        --about-right-width: 30.5%;
        --about-left-width: 55%;
        --about-section3-dividers-width: 110.5%;
        --about-section3-dividers-margin-left: -5.25%
    }
}

/*--- Desktop Resolutions: 1440 x 900, 1366 x 768 ---*/
@media screen and (max-width: 1440.5px) and (min-width: 1280.5px){
    :root {
        --nav-icon-left: 20%;

        --header-height: 420px;
        --header-logo-height:380px;
        --header-padding-top: 110px;

        --section-width: 80%;
        --page-safearea-padding: 10%;

        --about-right-width: 30%;
        --about-left-width: 55%;
        --about-section3-dividers-width: 109%;
        --about-section3-dividers-margin-left: -4.5%
    }
}

/*--- Tablet Resolutions: 1024 x 768, 1280 x 800 (Landscape) ---*/
@media screen and (max-width: 1280.5px) and (min-width: 1024.5px) {
    :root {
        --nav-icon-left: 10%;

        --header-height: 420px;
        --header-logo-height:380px;
        --header-padding-top: 110px;

        --section-width: 80%;
        --page-safearea-padding: 10%;

        --about-right-width: 27%;
        --about-right-padding-left: 50px;
        --about-section3-dividers-width: 109%;
        --about-section3-dividers-margin-left: -4.5%
    }
}

@media screen and (max-width: 1024.5px) and (min-width: 768.5px) {
    :root {
        --nav-icon-left: 10%;

        --header-height: 420px;
        --header-logo-height:380px;
        --header-padding-top: 110px;

        --section-width: 96%;
        --page-safearea-padding: 2%;

        --about-right-width: 27%;
        --about-right-padding-left: 50px;
        --about-section3-dividers-width: 109%;
        --about-section3-dividers-margin-left: -4.5%
    }
}