body{
    background-color:#283C4F;
    background-image: url(./sun-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    transition: 1s;
}

.case-head {
    width: calc(60% - 20px);
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    text-align: center;
    padding-bottom: 0;
    z-index: 2;
    margin-left: 20%;
    background-color:#365673 ;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display:block;
    border-left: 10px solid #365673;
    border-right: 10px solid #365673;
}
.case-head h1 {
    margin: 0;
    font-size: 75px;
    color:#F2E5D8;
    font-family: Heavitas;
    padding: 0px;
    line-height: 35px;
    margin-bottom: 24px;
    font-weight: normal;
    padding-top: 60px;
}

.case-head h2 {
    margin: 0;
    font-size: 41px;
    color:rgba(255, 255, 255, 0.4);
    font-family: "Heavitas";
    padding: 0;
    line-height: 35px;
    padding-bottom: 40px;
    font-weight: normal;
    letter-spacing: 2px;
}

h1:nth-child(2){
    margin: 0;
    font-size: 41px;
    color:#F2E5D8;
    font-family: "Heavitas";
    padding: 0;
    line-height: 35px;
    margin-bottom: 31px;
    font-weight: normal;
    letter-spacing: 2px;
}

.page-back {
    color: white;
    border: none;
    position: fixed;
    display: block;
    text-decoration: none;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-top:70px;
    font-size: 20.5px;
    padding-bottom: .6%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: .4%;
    background-color: #A65D42;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 3;
}

.page-back:hover {
    background-color:hsl(16, 43%, 40%);
}

.case-content {
    width: calc(60% - 20px);
    background-color: #F2E5D8;
    border: 10px solid #365673;
    border-top: none;
    margin-left: 20%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-top: 40px;
    margin-bottom: 50px;

}

.case-content, .case-head {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3);
}

.case-content h1{
    color: #283C4F;
    font-family: "Pockota";
    font-size: 51.25px;
    margin: 0;
    padding-top: 0;
    padding-left: 2%;

}

.case-content h2 {
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    font-size: 30.7px;
    font-weight: 800;
    letter-spacing: .5px;
    margin: 0;
    padding-left: 0;
    margin-bottom: -5px;
    margin-top: 25px;
    margin-block-start: 15px;
    color: #365673;
    padding-left: 2%;
}

.case-content img {
    max-width: 100%;
}

.case-section {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
}

.divider{
    margin-top: 0px;
    position: absolute;
    height: 5px;
    width: 53%;
    border-radius: 20px;
    display: block;
    background-color: #F29544;
    margin-top: 0px;
    z-index: 2;
}

#blurb {
    color: #F2E5D8;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    margin: 2%;
    margin-left: 0;
    font-size: 20px;
    line-height: 25.5px;
    margin-top: 1%;
    padding-left: 2%;
    padding-bottom: 10px;
}

.case-section p {
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    margin: 2%;
    margin-left: 0;
    font-size: 18.4px;
    line-height: 25.5px;
    margin-top: 1%;
    padding-left: 2%;
}

.case-section.org:last-of-type p:last-of-type{
    padding-top: 15px;
    margin-bottom: 10px;
}

.case-content li {
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    margin: 1%;
    margin-left: 0;
    font-size: 18.4px;
    line-height: 25.5px;
}

.back-to-commercial {
    display: inline-block;
    color: white;
    background-color: #D97B59;
    font-size: 25.25px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2.5%;
    margin-bottom: 40px;
    
    margin-left: 26%;
}

section.org .back-to-commercial {
    margin-top: 20px; 
}

.back-to-commercial:hover {
    background-color:#A65D42;
    cursor: pointer;
}

.botw {
    height: 250px;
    display: block;
}
label {
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    color: #283C4F;
    line-height: 20px;
    display: inline-block;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 35px;
}

label img {
    padding: 20px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-top: 30px;
}

#botw-carousel {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.slide-indicators {
    width: 100%;
    display: inline-block;
    margin-top: 30px;
    margin: 0 auto;
    text-align: center;
}

.slide-indicators span {
    margin-top: 20px;
    display: inline-block;
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    background-color: #283C4F;
    opacity: 0.3;
}

.column {
    width: 45%;
    padding-left: 2%;
}