:root {
    --nav-div:10.25px;
    --h1a: 61.45px;
    --h1lh: 67.5px;
    --spacing1: 1.5px;
    --spacing2: 5.12px;
    --p1: 17.5px;
    --pa: 20.5px;
    --pb: 23.5px;
    --pc: 25.5px;
    --pd: 30.5px;
    --pe: 36px;
    --pf: 41px;
    --pageheadtxt-w: 75%;
    --pageheadtxt-h2: 102.5px;
    --pageheadtxt-h2-lh: 92px;
    --base-safearea-padding: 25%;
}

#nav{
    z-index: 5;
}

.port-section {
    width: 50%;
    height: 450px;
    padding-left: var(--base-safearea-padding);
    padding-right: var(--base-safearea-padding);
    background-size: cover;
    background-position: center;
    margin-top: 0%;
    margin-bottom: 0;
    padding-bottom: 6.25%;
    text-align: center;
    padding-bottom: 6.25%;
}

.port-section:first-of-type {
    background-image: url(../base-images/TexturedVignette-blue.png);
    background-color: #365673;
}

.port-section:nth-of-type(2) {
    background-image: url(../base-images/TexturedVignette-blue.png);
    background-color: #2C736C;
}

.port-section:nth-of-type(3) {
    background-image: url(../base-images/TexturedVignette-orange.png);
    background-color: #D97B59;
}

.port-section:first-of-type h1 {
    padding-top: 7.5%;
    display: inline-block;
    font-size: var(--h1a);
}

.port-section h1 {
    padding-top: 3.5%;
    display: inline-block;
    font-size: var(--h1a);
}

.slides h2 {
    margin: 0;
    font-size: 2vw;
    color:rgba(255, 255, 255, 0.4);
    font-family: Heavitas;
    padding: 0%;
    line-height: var(--pf);
    margin-bottom: 2%;
    font-weight: normal;
    display:block;
}

#graphic-design div{
    box-sizing: inherit;
}

.slideshow-nav-left {
    width: 0;
    height: 0;
    position: absolute;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    margin-top: 14.5%;
    z-index: 4;
    left: 27.5%
}

.slideshow-nav-left.gfx {
    border-right: 40px solid rgba(40, 60, 79, 0.6);
}

.slideshow-nav-left.gfx:hover {
    border-right: 40px solid rgba(40, 60, 79, 1.0);
}

.slideshow-nav-left.git{
    border-right: 40px solid rgba(32, 84, 79, 0.6);
}

.slideshow-nav-left.git:hover {
    border-right: 40px solid rgba(32, 84, 79, 1.0);
}
.slideshow-nav-left.data-vis{
    margin-top: 13%;
    border-right: 40px solid rgba(166, 93, 66, 0.6);
}

.slideshow-nav-left.data-vis:hover {
    border-right: 40px solid rgba(166, 93, 66, 1.0);
}

.slideshow-nav-right {
    width: 0;
    height: 0;
    position: absolute;
    border-top: 60px solid transparent;
    
    border-bottom: 60px solid transparent;
    margin-top: 14.5%;
    z-index: 4;
    right: 27.5%
}

.slideshow-nav-right.gfx {
    border-left: 40px solid rgba(40, 60, 79, 0.6);
}

.slideshow-nav-right.gfx:hover {
    border-left: 40px solid rgba(40, 60, 79, 1.0);
}

.slideshow-nav-right.git {
    border-left: 40px solid rgba(32, 84, 79, 0.6);
}

.slideshow-nav-right.git:hover {
    border-left: 40px solid rgba(32, 84, 79, 1.0);
}

.slideshow-nav-right.data-vis{
    margin-top: 13%;
    border-left: 40px solid rgba(166, 93, 66, 0.6);
}

.slideshow-nav-right.data-vis:hover {
    border-left: 40px solid rgba(166, 93, 66, 1.0);
}


.slide-indicators {
    width: 100%;
    display: inline-block;
    margin-top: 2.5%;

}

.slide-indicators span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

span.gfx:first-of-type {
    background: rgba(40, 60, 79, 0.4) ;
}

span.gfx:nth-of-type(2) {
    background: rgba(40, 60, 79, 0.4) ;
    margin-left: 0.5vw;
    margin-right: .5vw;
}

span.gfx:last-of-type {
    background: rgba(40, 60, 79, 0.4) ;
}

span.git:first-of-type {
    background: rgba(32, 84, 79, 0.4);
    margin-right: .75vw;
}

span.git:last-of-type {
    background: rgba(32, 84, 79, 0.4);
    margin-left: .75vw;
}

span.data-vis:first-of-type {
    background: rgba(166, 93, 66, 0.4) ;
}

span.data-vis:nth-of-type(2) {
    background: rgba(166, 93, 66, 0.4);
    margin-left: 0.5vw;
    margin-right: .5vw;
}

span.data-vis:last-of-type {
    background: rgba(166, 93, 66, 0.4);
}

.gfx-slide {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(41, 1fr);
    grid-template-rows: repeat(10, 1vw);
    grid-gap:10px;
    margin-left: 15%;
}


.gallery__img {
    transition: .25s;
    transform: scale(100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__img:hover {
    transition: .25s;
    transform: scale(105%);
    cursor: pointer;
}

figure{
    margin:0;
}

/*----------GFX SLIDE 1----------*/

#yt-thumbnail {
    grid-column-start: 1;
    grid-column-end: 23;
    grid-row-start: 1;
    grid-row-end:8;
    max-width: 100%;
}
#avjlift-sig {
    grid-column-start: 23;
    grid-column-end: 42;
    grid-row-start: 1;
    grid-row-end: 5;
}
#mikko-sig {
    grid-column-start: 23;
    grid-column-end: 42;
    grid-row-start: 5;
    grid-row-end: 8;
    object-position:left;
}
#hellfire-squad-pb{
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start:8;
    grid-row-end: 11;
}
#totally-80s-squad-pb {
    grid-column-start: 21;
    grid-column-end: 42;
    grid-row-start:8;
    grid-row-end: 11;
}

/*----------GFX SLIDE 2----------*/

#scarlet-witch-logo {
    grid-column-start: 1;
    grid-column-end: 15;
    grid-row-start:1;
    grid-row-end: 7;
}

#stella-logo {
    grid-column-start: 15;
    grid-column-end: 31;
    grid-row-start:2;
    grid-row-end: 6;
}
#ensemble-logo {
    grid-column-start: 31;
    grid-column-end: 42;
    grid-row-start:1;
    grid-row-end: 7;
}
#cactus-candle-logo {
    grid-column-start: 1;
    grid-column-end: 22;
    grid-row-start:7;
    grid-row-end: 11;
}
#cactus-oak-logo {
    grid-column-start: 22;
    grid-column-end: 29;
    grid-row-start:7;
    grid-row-end: 11;
}
#gat-logo {
    grid-column-start: 29;
    grid-column-end: 42;
    grid-row-start:7;
    grid-row-end: 11;
}

/*----------GFX SLIDE 3----------*/

#pff-card-front {
    grid-column-start: 1;
    grid-column-end: 15;
    grid-row-start:1;
    grid-row-end: 7;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

#pff-card-back {
    grid-column-start: 6;
    grid-column-end: 21;
    grid-row-start:5;
    grid-row-end: 11;
    z-index: 2;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
#ben-sign {
    grid-column-start: 21;
    grid-column-end: 42;
    grid-row-start:1;
    grid-row-end: 11;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

/*--------------------GIT--------------------*/



/*--------------------DATA VIS--------------------*/

.datavis-slide{
    width: 50%;
    margin-left: 23%;
    background-color:#A65D42;
    padding: 2%;
    transition: .25s;
    transform: scale(1.0);
}

.datavis-slide:hover {
    transition-property: scale;
    transition: .25s;
    transform: scale(1.025);
    cursor: pointer;
}

.datavis-slide span{
    width: 100%;
    background-color: #A65D42;
}
.datavis-slide span a{
    background-color: #D97B59;
    position: absolute;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-family: Proxima Nova, Arial, Helvetica, sans-serif;
    font-size: 1vw;
    text-decoration: none;
    font-weight: bold;
    color: white

}

.datavis-slide img{
    width: 100%;
}

.datavis-slide h3{
    font-family: Proxima Nova, Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    color:white;
    margin-bottom: 0%;
    margin-top: 4.75%;
}
.datavis-slide p{
    font-family: Proxima Nova, Arial, Helvetica, sans-serif;
    font-size: 1vw;
    color:#F2E5D8;
    margin-top: .5vw;
    margin-bottom: 1.75%;
}

/*----------SLIDE 1----------*/


#lightbox{
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    background-image: url(../base-images/TexturedVignette-blue.png);
    background-position: center;
    background-color: rgba(40, 60, 79, 1.0);
    z-index: 5;
}

#boxContent {
    width: 100vw;
    height: 50vh;
    display: inline-block;
    padding: 1vw;
    padding-bottom: 1vw;
    text-align: center;
    margin: auto;
    margin-top: 18.5vh;
    position: relative;
}

#boxContent button {
    text-align: right;
}


#boxContent img{
    max-width: 100%;
    max-height: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imgContent {
    position: absolute;
    width:96vw;
    background-color: #365673;
    padding-top: 1.5vw;
    padding-bottom: 1.25vw;
    padding-left: 2vw;
    padding-right: 2vw;
    display: block;
    bottom: 0%;
}

#imgContent h2{
    margin: 0%;
    font-size: 2vw;
    color:#F2E5D8;
    padding-top: .5vw;
    font-family: Heavitas;
    font-weight: lighter;
}

#imgContent p{
    font-size: 1vw;
    color:white;
    font-family: Proxima Nova, Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: .5%;
    padding-bottom: 1%;
}

#close-lightbox {
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
    color: white;
    display:flex;
    font-size: 4vw;
    font-weight: lighter;
    border-radius: 10vw;
    margin-top: 5%;
    right: 4%;
    position: absolute;
}

#close-lightbox:hover {
    background-color: transparent;
    cursor: pointer;
}
  